Django
daphne
gunicorn
psycopg2-binary
python-dotenv
Pillow
djangorestframework
djangorestframework-simplejwt
django-oauth-toolkit
django-filter
django-extensions
django-cors-headers
channels
channels_redis